<section class="book_section layout_padding">
    <!-- Rezervasyon bölümünün genel düzenini belirten bir bölüm -->
    <div class="container">
        <!-- İçeriği sınırlayan bir konteyner -->
        <div class="heading_container">
            <!-- Başlık için bir konteyner -->
            <h2>
                Rezarvasyon
            </h2>
        </div>
        <div class="row">
            <!-- Satır düzenini temsil eden bir bölüm -->
            <div class="col-md-6">
                <!-- İki sütunlu bir düzenin sol tarafındaki sütun -->
                <div class="form_container">
                    <!-- Form elemanlarını içeren bir konteyner -->
                    <form action="">
                        <!-- Kullanıcının adını girmesi için metin kutusu -->
                        <div>
                            <input type="text" class="form-control" placeholder="Adınız" />
                        </div>
                        <!-- Telefon numarasını girmesi için metin kutusu -->
                        <div>
                            <input type="text" class="form-control" placeholder="Telefon Numaranız" />
                        </div>
                        <!-- E-posta adresini girmesi için metin kutusu -->
                        <div>
                            <input type="email" class="form-control" placeholder="E-posta Adresiniz" />
                        </div>
                        <!-- Kaç kişi olduğunu seçmesi için bir açılır liste -->
                        <div>
                            <select class="form-control nice-select wide">
                                <option value="" disabled selected>
                                    Kaç kişi?
                                </option>
                                <option value="">
                                    2
                                </option>
                                <option value="">
                                    3
                                </option>
                                <option value="">
                                    4
                                </option>
                                <option value="">
                                    5
                                </option>
                            </select>
                        </div>
                        <!-- Tarih seçmesi için bir tarih giriş kutusu -->
                        <div>
                            <input type="date" class="form-control">
                        </div>
                        <!-- Rezervasyonu tamamlamak için bir düğme -->
                        <div class="btn_box">
                            <button>
                                Şimdi Rezerve Et
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- İki sütunlu bir düzenin sağ tarafındaki sütun -->
            <div class="col-md-6">
                <!-- Harita bölümünü içeren bir konteyner -->
                <div class="map_container ">
                    <!-- Google Haritası'nı göstermek için bir alan -->
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>
